@model IEnumerable<ASM_CSharp4_Linhtnph20247.Models.Product>

@{
    ViewData["Title"] = "Product";
}

<h1 class="text-center">Product</h1>

<p>
    <button type="button" class="btn btn-primary"><a class="text-decoration-none text-white" asp-action="Create">Create Product</a></button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ImageUrl)"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                <button type="button" class="btn btn-success">
                    <a class="text-decoration-none text-white" href="/Product/Edit/@item.Id">Edit</a>
                </button>
                <button type="button" class="btn btn-success">
                    <a class="text-decoration-none text-white" href="/Product/Detail/@item.Id">Detail</a>
                </button>
                <button type="button" class="btn btn-danger">
                    <a class="text-decoration-none text-white" href="/Product/Delete/@item.Id">Delete</a>
                </button>
            </td>
        </tr>
}
    </tbody>
</table>