@model ASM_CSharp4_Linhtnph20247.ViewModel.CartViewModel
@{
    ViewData["Title"] = "Shop Cart";
}
    <!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <form asp-action="UpdateQuantity">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                        <tr>
                            <th class="shoping__product">Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var cartDetail in Model.CartDetails)
                        {
                            <input type="hidden" name="CartDetails[@(Model.CartDetails.IndexOf(cartDetail))].Id" value="@cartDetail.Id"/>
                            <tr>
                                <td class="shoping__cart__item">
                                    @if (System.IO.Path.GetExtension(cartDetail.Product.ImageUrl) == ".jpg" ||
                                         System.IO.Path.GetExtension(cartDetail.Product.ImageUrl) == ".png" ||
                                         System.IO.Path.GetExtension(cartDetail.Product.ImageUrl) == ".jpeg" ||
                                         System.IO.Path.GetExtension(cartDetail.Product.ImageUrl) == ".tiff" ||
                                         System.IO.Path.GetExtension(cartDetail.Product.ImageUrl) == ".gif")
                                    {
                                        <img src="~/Styles/img/product/@cartDetail.Product.ImageUrl" height="100px">
                                    }
                                    <h5>@cartDetail.Product.Name</h5>
                                </td>
                                <td class="shoping__cart__price">
                                    @cartDetail.Product.Price.ToString("C")
                                </td>
                                <td class="shoping__cart__quantity">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="text" name="CartDetails[@(Model.CartDetails.IndexOf(cartDetail))].Quantity" value="@cartDetail.Quantity"/>
                                        </div>
                                    </div>
                                </td>
                                <td class="shoping__cart__total">
                                    @((cartDetail.Product.Price * cartDetail.Quantity).ToString("C"))
                                </td>
                                <td class="shoping__cart__item__close">
                                    <a href="/Cart/Delete/@cartDetail.Id">
                                        <span class="icon_close"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="/Home/Shop" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                    <button type="submit" class="primary-btn site-btn cart-btn cart-btn-right">
                        <span class="icon_loading"></span>Upadate Cart
                    </button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>Discount Codes</h5>
                        <input type="text" placeholder="Enter your coupon code ..." style="height: 45px; width: 200px">
                        <button type="submit" class="site-btn">APPLY COUPON</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Cart Total</h5>
                    <ul>
                        <li>Subtotal <span>$0</span></li>
                        <li>Total <span>@Model.TotalAmount.ToString("C")</span></li>
                    </ul>
                    <a href="/Home/CheckOut" class="primary-btn">PROCEED TO CHECKOUT</a>
                </div>
            </div>
        </div>
        </form>
    </div>
</section>
    <!-- Shoping Cart Section End -->